.newExpense {
  background-color: var(--ui-bg-color);
  padding: 1rem;
  margin: 1rem auto 0rem auto;
  width: 50rem;
  max-width: 95%;
  /* border-radius: 12px; */
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}


.newExpense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
  color: var(--li-text-color);
  /* border-radius: 12px; */
  margin-right: 1rem;
}

.newExpense button:hover,
.newExpense button:active {
  border: 1px solid var(--button-hover-color);
  background-color: var(--button-hover-color);
}

.newExpense button.alternative {
  color: #0c0131;
  border-color: transparent;
  background-color: transparent;
}

.newExpense button.alternative:hover,
.newExpense button.alternative:active {
  background-color: #ddb3f8;
}
