.expensesList {
  list-style: none;
  padding: 0;
}

.expensesList__fallback {
  color: white;
  text-align: center;
}

.expensesList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: #92acee;
}

.edit{
  cursor: pointer;
  background-color: #1a005d;
  border: 1px solid #14005d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}
.delete{
  cursor: pointer;
  background-color: #df4b4b;
  border: 1px solid #f80000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}