.edit {
  cursor: pointer;
  background-color: grey;
  border: 1px solid grey;
  color: white;
  padding: 0.5rem 1rem;
  /* border-radius: 12px; */
}
.delete {
  cursor: pointer;
  background-color: #df4b4b;
  border: 1px solid #c82727;
  color: white;
  padding: 0.5rem 1rem;
  /* border-radius: 12px; */
  width: 5rem;
}

.edit:hover {
  background-color: rgb(98, 98, 98);
}

.delete:hover {
  background-color: #b13333;
}

.amountContainer {
  background-color: grey;
  padding: 1.5rem;
  height: 3.2rem;
  /* border-radius: 12px 0 0 12px; */
  color: white;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.amountTitle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #000000;
  color: white;
  border-radius: 0 0 12px 0;
  padding: 0.2rem;
  font-size: 0.8rem;
}

.amount {
  font-size: 1.2rem;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 12px;
    padding: 2rem;
   
}


.buttonContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.descriptionContainer p{
    font-weight: bold;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.categoryContainer p{
    font-weight: bold;
}

.categoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}