.header {
    width: 100%;
    height: 5rem;
    background-color: #2b3dda;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }

  .logo {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: white;
    margin: 0;
  }