.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--ui-bg-color);
  /* background-color: #2b3dda; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 2rem;
  position: relative;
  
}

.logo {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: var(--nav-color);
  margin: 0;
}

.logo:hover{
  color: #505050;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}
.header a {
  text-decoration: none;
  color: var(--nav-color);
  font-weight: bold;
}


.logoutBtn {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: var(--nav-color);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 2rem;
}

.header a:hover {
  color: var(--button-hover-color);
}

.header button:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.toggleBtn {
  background-color: transparent;
  margin: auto;
  border:none;
  color: var(--nav-color);
  
}
