/* Profile.module.css */

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    max-width: 30rem;
    width: 90%;
    padding: 2rem;
    background-color: #fcfcfc;
    border-radius: 12px;
  }
  
  .profileImage {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-right: 20px; 
  }
  
  .profileInfo {
    display: flex;
    flex-direction: column;
    
  }
  
  .profileName {
    font-size: 1.5rem;
    margin-bottom: 5px; 
  }
  
  .profileEmail {
    color: gray; 
    font-size: 1rem; 
  }
  
  .actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #14005d;
    border: 1px solid #14005dc2;
    border-radius: 20px;
    padding: 0.5rem 2.5rem;
    margin-bottom: 1.5rem;
  }

  .btn {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0.5rem 0.5rem;
    border: 1px solid #14005d;
    border-radius: 20px;
  }