.forgot {
  margin: 10rem auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 30rem;
  border-radius: 12px;
  background-color: #fff8f8;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-align: center;
}

.forgot h1 {
  margin-bottom: 3rem;
}


.control {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.control input {
  font: inherit;
  margin-bottom: 3rem;
  background-color: #f1f3ff;
  color: #0c015c;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.7);
  width: 90%;
  text-align: left;
  padding: 0.25rem;
}

.control input:focus {
  outline: none;
  border-color: #91abee5d;
  background-color: #91abee22;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #14005d;
  border: 1px solid #14005dc9;
  border-radius: 20px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 1.5rem;
}

.actions button:hover {
  background-color: #3b1ca9;
  border-color: #14005d;
}
